{% extends 'Myadmin/show_table.html' %}
{% load get_table_rela_name %}

{% block body %}
 <span style="color: red">{{ emMd.errors }}</span>
 <form class="form-horizontal col-lg-7" method="POST" action="">
 {% csrf_token %}
   <div class="form-group">
    <label  class="col-sm-2 control-label">客户:</label>
    <div class="col-sm-10">
        <div class="form-control center-align">{{ table_obj.name }}--{{ table_obj.qq }}</div>
    </div>
  </div>
 <div>
{#     <input type="hidden" value="{{ table_obj.id }} " name="customer_id">#}
 </div>
 {% for filed in emMd %}
  <div class="form-group">
    <label  class="col-sm-2 control-label">{{ filed.label_tag }}</label>
    <div class="col-sm-10">
     {{ filed }}
    </div>
  </div>
      {% endfor %}
 <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-info pull-right" ><a href="{% url 'payment' enroll_obj_id %}">下一步</a></button>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <SPAN>{% for next_link,nex in next_links.items %}
           已注册的用户请讲此链接发送给用户  {{ nex }}
      {% endfor %}
      </SPAN>
    </div>
  </div>
 </form>
{% endblock %}
