{% extends 'Myadmin/table_index.html' %}
{% load get_table_rela_name %}
{% block center %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">修改{{ table_obj.name }}的密码</h2>
        <div class="bs-example" data-example-id="table-within-panel">
            <div class="panel panel-default">

   <form method="post">
       {% csrf_token %}
        <input type="text" value="{{ table_obj.email }}" name="email" hidden>
        <div> <span>密码:</span><input style="width: 200px " type="text" class="form-control "  name="passwd1"></div>
        <div><span>再次输入密码:</span><input type="text" style="width: 200px" class="form-control"  name="passwd2"></div>
        <div><input type="submit" class="btn btn-info" value="确认提交"></div>
       <span>{% for foo in error.values %}
                    {{ foo }}
       {% endfor %}
       </span>
    </form>
            </div>
        </div>
</div>
{% endblock %}