{% extends 'base.html' %}
{% load get_table_rela_name %}
{% block body %}
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">CRM</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="#">{{ request.user.username }}</a></li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <a href="{% url 'index' %}">首页</a>>>
                    <span class=""></span> <a href="/Myadmin/crm">Crm</a>>>
                    <span class=""></span> <a href="{% url 'show_table' app_name table_name %}">{{ table_name }} </a>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header"><a href="{% url 'table_add'  app_name table_name %}">增加{{ table_name }}表数据</a>
                </h1>
                <h2 class="sub-header">
                <form onsubmit="return ActionSubmit(this)" method="POST">{% csrf_token %}
                            <div class="col-lg-2 ">
                            <select id="action_list" name="action" class="form-control" style="margin-left:15px">
                                <option>-----------</option>
                                {% for action in obj_all_model_and_display.actions %}
                                <option value="{{ action }}">{{ action }}</option>
                                {% endfor %}
                            </select>
{#                            <input type="submit" value="提交" class="btn ">#}
                        </div>
                    <div class="col-lg-1"　>
                        <button type="submit" class="btn  " >Go</button>
                      </div>
                </form>
                    {% if obj_all_model_and_display.search_fields %}
                        <form action="">
                            <input type="search" name="q" value="{{ search }}"
                                   placeholder="
                                           {% for search in obj_all_model_and_display.search_fields %}{{ search }},{% endfor %}">
                            <input type="submit" value="搜索">
                        </form>
                    {% endif %}

                </h2>
                <div class="table row">

                    {% if obj_all_model_and_display.list_filters %}
                        <form class="" method="get">
                            {% for condtion in obj_all_model_and_display.list_filters %}
                                <div class="col-lg-2 ">
                                    <span class="center-block" style="width: 50px">{{ condtion }}</span>
                                    {% render_filter_ele condtion obj_all_model_and_display filter_condtions %}
                                </div>
                            {% endfor %}
                            <button type="SUBMIT" class="btn btn-success center-block">检索</button>
                        </form>
                    {% endif %}
                </div>
                <div class="bs-example" data-example-id="table-within-panel">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">选择{{ table_name }}来修改</div>
                        <div class="panel-body" style="background-color: #2d6987 ">

                            <a href="/Myadmin/crm" style="color: #fff">{% get_rela_name obj_all_model_and_display %}</a>
                        </div>
                        <table class="table  table-bordered table-hover  ">
                            <thead>
                            <tr>
                                <th><input type="checkbox"  style="width: 35px" onclick="myselectall(this)">
                                </th>
                                {% for column in obj_all_model_and_display.list_display %}
                                    <th><a href="?o={% if orders %}{{ column }}{% else %}{% change_order column %}{% endif %}">{{ column }}
                                        {% if orders  and flage %} ^{% else %}v{% endif %}</a></th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <td>共计{{ query_sets.paginator.count }}条数据</td>
                            </tr>
                            </tfoot>
                            <tbody>
                            {% for one_obj_django in query_sets %}
                                <tr>
                                    <td><input  tag="obj_checkbox" type="checkbox" value="{{ one_obj_django.id }}">
                                    </td>
                                    {% build_table_row request one_obj_django obj_all_model_and_display %}
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                        <nav>
                            <ul class="pagination">
                                {% if query_sets.has_previous %}
                                    <li class=""><a href="?page={{ query_sets.previous_page_number }}">上页</a></li>
                                {% endif %}
{#                                                   <li class="active"><a>{{ query_sets.number }}</a></li>#}

                                {% for loop_counter in query_sets.paginator.page_range %}
                                    {% render_page_ele loop_counter query_sets filter_condtions order search %}
                                {% endfor %}

                                {% if query_sets.has_next %}
                                    <li class=""><a href="?page={{ query_sets.next_page_number }}&o={% ifequal order True %}{% endifequal %}&q={% ifequal search True %}{% endifequal %}">下页</a></li>
                                {% endif %}

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function myselectall(self) {
    $("input[tag='obj_checkbox']").each(function () {
        if($(this).prop("checked")){
            $(this).prop("checked",false)
        }
        else{
             $(this).prop("checked",true)
        }

    })
}

       function ActionSubmit(form_ele) {
           var selected_ids = [];
           $("input[tag='obj_checkbox']:checked").each(function () {
               selected_ids.push($(this).val());
           })
           var selected_action = $("#action_list").val();
           console.log(selected_ids)
           console.log(selected_action)
           if (selected_ids.length == 0){
               alert("No object got selected!");
               return
           }
           if (!selected_action ){
               alert("No action got selected!");
           }


           //start submit
            var selected_ids_ele = "<input  name='selected_ids' type='hidden' value='" + selected_ids.toString() + "' >"
            $(form_ele).append(selected_ids_ele);

           return true;
       }

    </script>
    </body>
{% endblock %}
